body{
    margin: 0;
    background: #282a36;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header{
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.header-1{
    display: flex;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;

    // STOP button
    button{
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        height: 70px;
        border: 2px solid #bd93f9;
        border-radius: 50%;
        padding: 10px 10px;
        background-color: #6272a4;
        color: #f8f8f2;
        cursor: pointer;
        margin-bottom: 10px;
        box-shadow: 2px 2px 1px 1px #000;

        p{
            margin: 0;
        }
    }
}

main{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Start button
    button{
        font-family: 'Karla', sans-serif;
        font-size: 70px;
        border: 5px solid #bd93f9;
        border-radius: 40px;
        padding: 10px 70px;
        background-color: #6272a4;
        color: #f8f8f2;
        cursor: pointer;
        box-shadow: 0px 0px 15px 5px #6272a4;
        p{
            margin: 0;
        }
    }
}


// Score:
#score{
    color: #50fa7b;
    font-size: 30px;
    min-width: 33.3%;
    text-align: center;
    margin: 0;
}

// Score:
#cpm{
    color: #8be9fd;
    font-size: 30px;
    min-width: 33.3%;
    text-align: center;
    margin: 0;
}

// Countdown:
#countdown{
    color: #f8f8f2;
    font-size: 30px;
    min-width: 33.3%;
    text-align: center;
    margin: 0;
}


// Errors:
#errors{
    color: #ff5555;
    font-size: 30px;
    min-width: 33.3%;
    text-align: center;
    margin: 0;
}

// Word to type style:
#word-to-type{
    color: #6272a4;
    font-size: 100px;
    text-align: center;
}