body{
    margin: 0;
    background: #282a36;
    font-family: 'Karla', sans-serif;
}

header{
    height: 10vh;
    display: flex;
    margin: 0 20px;
    justify-content: space-around;
}

footer{
    height: 10vh;
    display: flex;
    margin: 0 20px;
    justify-content: center;
    // Start button
    button{
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        height: 60px;
        border: 2px solid #bd93f9;
        border-radius: 50%;
        padding: 10px 10px;
        background-color: #6272a4;
        color: #f8f8f2;
        cursor: pointer;
        margin-bottom: 10px;
        p{
            margin: 0;
        }
    }
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // Start button
    button{
        font-family: 'Karla', sans-serif;
        font-size: 70px;
        border: 5px solid #bd93f9;
        border-radius: 40px;
        padding: 10px 70px;
        background-color: #6272a4;
        color: #f8f8f2;
        cursor: pointer;
        p{
            margin: 0;
        }
    }
}


// Score:
#score{
    color: #50fa7b;
    font-size: 30px;
}

#errors{
    color: #ff5555;
    font-size: 30px;
}

// Word to type style:
#word-to-type{
    color: #6272a4;
    font-size: 100px;
    text-align: center;
}